<%= form_with(model: terminal, local: true) do |form| %>
  <% if terminal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(terminal.errors.count, "error") %> prohibited this terminal from being saved:</h2>

      <ul>
        <% terminal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :端末名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :管理番号 %>
    <%= form.number_field :num %>
  </div>

  <div class="field">
    <%= form.label :OS情報 %>
    <%= form.text_field :os %>
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_field :remark %>
  </div>

  <div class="field">
    <%= form.label :place_id %>
    <%= form.number_field :place_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
